/* Syntax Highlighting
 * ============================================== */
    // .highlight {
    //      .hll { background-color: #ffffcc }
    //     .c { color: #8f5902; font-style: italic } /* Comment */
    //     .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
    //     .g { color: #000000 } /* Generic */
    //     .k { color: #204a87; font-weight: bold } /* Keyword */
    //     .l { color: #000000 } /* Literal */
    //     .n { color: #000000 } /* Name */
    //     .o { color: #ce5c00; font-weight: bold } /* Operator */
    //     .x { color: #000000 } /* Other */
    //     .p { color: #000000; font-weight: bold } /* Punctuation */
    //     .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
    //     .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
    //     .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
    //     .cs { color: #8f5902; font-style: italic } /* Comment.Special */
    //     .gd { color: #a40000 } /* Generic.Deleted */
    //     .ge { color: #000000; font-style: italic } /* Generic.Emph */
    //     .gr { color: #ef2929 } /* Generic.Error */
    //     .gh { color: #000080; font-weight: bold } /* Generic.Heading */
    //     .gi { color: #00A000 } /* Generic.Inserted */
    //     .go { color: #000000; font-style: italic } /* Generic.Output */
    //     .gp { color: #8f5902 } /* Generic.Prompt */
    //     .gs { color: #000000; font-weight: bold } /* Generic.Strong */
    //     .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
    //     .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
    //     .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
    //     .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
    //     .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
    //     .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
    //     .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
    //     .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
    //     .ld { color: #000000 } /* Literal.Date */
    //     .m { color: #0000cf; font-weight: bold } /* Literal.Number */
    //     .s { color: #4e9a06 } /* Literal.String */
    //     .na { color: #c4a000 } /* Name.Attribute */
    //     .nb { color: #204a87 } /* Name.Builtin */
    //     .nc { color: #000000 } /* Name.Class */
    //     .no { color: #000000 } /* Name.Constant */
    //     .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
    //     .ni { color: #ce5c00 } /* Name.Entity */
    //     .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
    //     .nf { color: #000000 } /* Name.Function */
    //     .nl { color: #f57900 } /* Name.Label */
    //     .nn { color: #000000 } /* Name.Namespace */
    //     .nx { color: #000000 } /* Name.Other */
    //     .py { color: #000000 } /* Name.Property */
    //     .nt { color: #204a87; font-weight: bold } /* Name.Tag */
    //     .nv { color: #000000 } /* Name.Variable */
    //     .ow { color: #204a87; font-weight: bold } /* Operator.Word */
    //     .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
    //     .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
    //     .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
    //     .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
    //     .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
    //     .sb { color: #4e9a06 } /* Literal.String.Backtick */
    //     .sc { color: #4e9a06 } /* Literal.String.Char */
    //     .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
    //     .s2 { color: #4e9a06 } /* Literal.String.Double */
    //     .se { color: #4e9a06 } /* Literal.String.Escape */
    //     .sh { color: #4e9a06 } /* Literal.String.Heredoc */
    //     .si { color: #4e9a06 } /* Literal.String.Interpol */
    //     .sx { color: #4e9a06 } /* Literal.String.Other */
    //     .sr { color: #4e9a06 } /* Literal.String.Regex */
    //     .s1 { color: #4e9a06 } /* Literal.String.Single */
    //     .ss { color: #4e9a06 } /* Literal.String.Symbol */
    //     .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
    //     .vc { color: #000000 } /* Name.Variable.Class */
    //     .vg { color: #000000 } /* Name.Variable.Global */
    //     .vi { color: #000000 } /* Name.Variable.Instance */
    //     .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */

//    }

    // .highlight,pre.highlight{font-family: 'D2 coding', "Consolas", monospace;
    // background:#222222;color:#aab1bf;}
    pre.highlight {
        background: #181818;
        padding: 16px;
        overflow: auto;
        line-height: 1.2;
        border-radius: 0.2em
    }

    .highlight pre {
        margin: 0
    }

    .highlight code {
        color: #F8F8F8;
        font-family: "Source Code Pro", Menlo, monospace;
    }

    .highlight .hll {
        background-color: #ffc
    }

    .highlight .c {
        color: #5F5A60;
    }

    .highlight .err {
        border: #B22518
    }

    .highlight .k {
        color: #CDA869
    }

    .highlight .cm {
        color: #5F5A60;
        font-style: italic
    }

    .highlight .cp {
        color: #5F5A60
    }

    .highlight .c1 {
        color: #5F5A60;

    }

    .highlight .cs {
        color: #5F5A60;
        font-style: italic
    }

    .highlight .gd {
        background: #420E09
    }

    .highlight .ge {
        font-style: italic
    }

    .highlight .gr {
        background: #B22518
    }

    .highlight .gh {
        color: #000080;
        font-weight: bold
    }

    .highlight .gi {
        background: #253B22
    }

    .highlight .gp {
        font-weight: bold
    }

    .highlight .gs {
        font-weight: bold
    }

    .highlight .gu {
        color: #800080;
        font-weight: bold
    }

    .highlight .kc {
        color: #CDA869
    }

    .highlight .kd {
        color: #CDA869
    }

    .highlight .kp {
        color: #9B703F
    }

    .highlight .kt {
        color: #9B859D
    }

    .highlight .m {
        color: #CF6A4C
    }

    .highlight .s {
        color: #8F9D6A
    }

    .highlight .na {
        color: #F9EE98
    }

    .highlight .nb {
        color: #CDA869
    }

    .highlight .nc {
        color: #9B859D;
        font-weight: bold
    }

    .highlight .no {
        color: #9B859D
    }

    .highlight .nd {
        color: #7587A6
    }

    .highlight .ni {
        color: #CF6A4C;
        font-weight: bold
    }

    .highlight .nf {
        color: #e9df8f
    }

    .highlight .nn {
        color: #9B859D
    }

    .highlight .nt {
        color: #CDA869
    }

    .highlight .ow {
        color: #AA22FF
    }

    .highlight .w {
        color: #141414
    }

    .highlight .mf {
        color: #CF6A4C
    }

    .highlight .mh {
        color: #CF6A4C
    }

    .highlight .mi {
        color: #CF6A4C
    }

    .highlight .mo {
        color: #CF6A4C
    }

    .highlight .sb {
        color: #8F9D6A
    }

    .highlight .sc {
        color: #8F9D6A
    }

    .highlight .sd {
        color: #8F9D6A
    }

    .highlight .s2 {
        color: #8F9D6A
    }

    .highlight .se {
        color: #F9EE98
    }

    .highlight .sh {
        color: #8F9D6A
    }

    .highlight .si {
        color: #DAEFA3
    }

    .highlight .sx {
        color: #8F9D6A
    }

    .highlight .sr {
        color: #E9C062
    }

    .highlight .s1 {
        color: #8F9D6A
    }

    .highlight .ss {
        color: #CF6A4C
    }

    .highlight .vc {
        color: #7587A6
    }

    .highlight .vg {
        color: #7587A6
    }

    .highlight .vi {
        color: #7587A6
    }

    .highlight .il {
        color: #099
    }

    .highlight .language-swift .kd+.nf,.highlight .language-swift .kd+.kt {
        color: inherit
    }

    .highlight .language-swift .o+.n {
        color: #7587A6
    }

    .highlight .language-swift .nv+.o+.n {
        color: inherit
    }
