<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include navigation.html %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block; text-align:center;"
         data-ad-layout="in-article"
         data-ad-format="fluid"
         data-ad-client="ca-pub-8241016435532005"
         data-ad-slot="1296381324"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
